root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# All indentation should use spaces (never tabs)
indent_style = space

# 2 space indentation for HTML and CSS files
[*.{html,css}]
indent_size = 2
